/* Boxshadows */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both; }

a {
  text-decoration: none;
  color: black; }

/* Buttons */
/* Flat */
/* Material */
/* Animation */
h1 {
  font-family: "bebas-neue", sans-serif;
  font-weight: 300; }

h2 {
  font-family: "bebas-neue", sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0; }

h3 {
  font-family: "Raleway", sans-serif; }

h4 {
  font-family: "Raleway", sans-serif; }

p {
  font-family: "Raleway", sans-serif; }

section {
  margin-top: 4em; }

.wrapper {
  width: 95%;
  margin: auto;
  max-width: 1200px;
  overflow: hidden; }

body {
  overflow-x: hidden; }

a {
  font-family: "Raleway", sans-serif; }

.center {
  text-align: center; }

.line {
  width: 32px;
  height: 2px;
  background: #ebb96f;
  margin: 1em auto 2em auto; }

/* Flat */
.button-flat1, .button-flat2, .button-flat3, .button-flat4, .button-flat5 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  cursor: pointer; }

.button-flat1 {
  border: 1px solid; }

.button-flat2 {
  background-color: #ebb96f; }

.button-flat4 {
  background-color: #bada55; }

.button-flat5 {
  background-color: #d25112; }

/* Material */
.button-material1, .button-material2, .button-material3, .button-material4, .button-material5 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  cursor: pointer; }

.button-material1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #bada55; }
  .button-material1:active {
    box-shadow: none; }

.button-material2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #bada55; }
  .button-material2:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.button-material3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #bada55; }
  .button-material3:hover {
    background-color: #ebb96f;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.button-material4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #bada55; }
  .button-material4:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.button-material5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #bada55; }
  .button-material5:hover {
    background-color: #ebb96f;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* Animation */
.button-animation1, .button-animation2, .button-animation3, .button-animation4, .button-animation5 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  cursor: pointer; }

.button-animation1 {
  border: 1px solid; }
  .button-animation1:hover {
    background-color: #bada55;
    transition: all ease 0.2s; }

.button-animation2 {
  background-color: #ebb96f; }

.button-animation4 {
  background-color: #bada55; }

.button-animation5 {
  background-color: #d25112; }

/* Ripple */
.button-ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }
  .button-ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s; }
  .button-ripple:active::after {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s; }

.topbar {
  width: 100%;
  background: white; }

.logo {
  padding-top: 10px;
  padding-left: 5%;
  border-bottom: 1px solid lightgrey;
  text-align: center; }
  .logo img {
    height: 50px; }

nav {
  width: 100%;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 10000; }
  nav ul {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    line-height: 40px; }
    nav ul a {
      text-transform: uppercase; }

nav.fixed {
  position: fixed;
  background: #fafafa;
  top: 0; }

header {
  width: 100%;
  height: 650px;
  background: url(../bilder/headerbg.jpg);
  background-size: cover;
  background-position: bottom;
  padding-top: 280px; }

.header_content {
  padding-left: 8px;
  border-left: 5px solid white;
  width: 450px;
  margin-left: 10%; }

h1 {
  font-size: 80px;
  width: 400px;
  color: white;
  text-transform: uppercase;
  line-height: 0.8; }
  h1 span {
    color: #bada55; }

.claim {
  width: 560px;
  font-size: 48px;
  line-height: 0.9;
  color: white;
  text-transform: uppercase; }

.one_content {
  display: flex;
  justify-content: space-between; }
  .one_content article {
    height: 480px;
    padding: 0 2.5%;
    text-align: center;
    border: 1px solid #bada55; }
    .one_content article:nth-of-type(2) {
      margin: 0 1%; }
    .one_content article img {
      margin-top: 6em;
      height: 80px;
      width: 80px; }
    .one_content article h3 {
      font-size: 1.5em;
      text-align: center; }
    .one_content article p {
      text-align: center; }

.two_content1 {
  float: left;
  width: 100%; }

.two_content2 {
  display: none; }

.two_content3 {
  display: none; }

.buttons {
  display: flex;
  justify-content: center; }

.button_next1, .button_next2, .button_next3 {
  width: 16px;
  height: 16px;
  background: grey;
  border-radius: 16px;
  margin: 3%;
  cursor: pointer; }

.button_next1.active, .button_next2.active, .button_next3.active {
  background: #bada55;
  transition: all ease 0.2s; }

.two_content1 .band_foto {
  width: 50%;
  background: url(https://unsplash.it/600);
  background-size: cover;
  float: left; }
  .two_content1 .band_foto:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
.two_content1 .band_title {
  float: right;
  width: 50%;
  background: #333333; }
  .two_content1 .band_title:after {
    content: "";
    display: block;
    padding-bottom: 50%; }
.two_content1 .band_title_content {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-left: 2%;
  padding-top: 2%; }
  .two_content1 .band_title_content h3 {
    font-size: 1.2em;
    color: white; }
  .two_content1 .band_title_content p {
    color: white; }
  .two_content1 .band_title_content a {
    color: #bada55; }
  .two_content1 .band_title_content .line {
    margin-left: 0; }
.two_content1 .band_logo {
  width: 50%;
  float: right;
  background: url(../bilder/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%; }
  .two_content1 .band_logo:after {
    content: "";
    display: block;
    padding-bottom: 50%; }

.two_content2 .band_foto {
  width: 50%;
  background: url(https://unsplash.it/700);
  background-size: cover;
  float: left; }
  .two_content2 .band_foto:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
.two_content2 .band_title {
  float: right;
  width: 50%;
  background: #333333; }
  .two_content2 .band_title:after {
    content: "";
    display: block;
    padding-bottom: 50%; }
.two_content2 .band_title_content {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-left: 2%;
  padding-top: 2%; }
  .two_content2 .band_title_content h3 {
    font-size: 1.2em;
    color: white; }
  .two_content2 .band_title_content p {
    color: white; }
  .two_content2 .band_title_content a {
    color: #bada55; }
  .two_content2 .band_title_content .line {
    margin-left: 0; }
.two_content2 .band_logo {
  width: 50%;
  float: right;
  background: url(../bilder/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%; }
  .two_content2 .band_logo:after {
    content: "";
    display: block;
    padding-bottom: 50%; }

.two_content3 .band_foto {
  width: 50%;
  background: url(https://unsplash.it/800);
  background-size: cover;
  float: left; }
  .two_content3 .band_foto:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
.two_content3 .band_title {
  float: right;
  width: 50%;
  background: #333333; }
  .two_content3 .band_title:after {
    content: "";
    display: block;
    padding-bottom: 50%; }
.two_content3 .band_title_content {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-left: 2%;
  padding-top: 2%; }
  .two_content3 .band_title_content h3 {
    font-size: 1.2em;
    color: white; }
  .two_content3 .band_title_content p {
    color: white; }
  .two_content3 .band_title_content a {
    color: #bada55; }
  .two_content3 .band_title_content .line {
    margin-left: 0; }
.two_content3 .band_logo {
  width: 50%;
  float: right;
  background: url(../bilder/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%; }
  .two_content3 .band_logo:after {
    content: "";
    display: block;
    padding-bottom: 50%; }

.three_content {
  display: flex;
  justify-content: space-around; }
  .three_content article {
    text-align: center; }
    .three_content article p {
      width: 300px; }
    .three_content article h3 {
      font-size: 1.2em;
      margin-bottom: 1em; }
    .three_content article .circle {
      width: 100px;
      height: 100px;
      background: #333333;
      margin: auto;
      margin-bottom: 2em;
      border-radius: 100px; }

.four_content {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto; }

.formfield {
  width: 50%;
  height: 300px; }

.container {
  max-width: 400px;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 0%; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font-family: Arial; }

#contact {
  height: 100%;
  padding: 0 0;
  margin: 0; }

#contact h3 {
  display: block;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 0.8rem;
  font-weight: 400; }

fieldset {
  border: medium none !important;
  margin-left: 0;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 94%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa; }

#contact textarea {
  height: 50px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 33.3333%;
  border: none;
  background: #333333;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

#contact button[type="submit"]:hover {
  background: #bada55;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa; }

.anschrift {
  padding-top: 40px;
  width: 50%;
  float: left; }

.anschrift_content {
  position: relative;
  width: 150px;
  margin: auto; }

.ort {
  margin-bottom: 8px; }

footer {
  width: 100%;
  background: #333333;
  height: 150px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
