
.one_content
  display: flex
  justify-content: space-between
  article
    flex-basis: 0
    flex-grow: 1
    height: 480px
    padding: 0 2.5%
    text-align: center
    margin-right: 1%

    //border: 1px solid $color-strong
    box-shadow: $shadow-1
    &:nth-of-type(3)
      margin-right: 0
    img
      margin-top: $padding-main * 4
      height: 80px
      width: 80px

    h3
      font-size: 1.5em
      text-align: center
    p
      text-align: center

@media screen and (max-width : $size-medium)
  .one_content
    display: block
    article
      margin: 0
      min-height: 250px
      height: auto
      margin-bottom: 16px
      padding-bottom: 2%
      p
        width: 90%
        //background: red
        margin: auto
      img
        margin-top: $padding-main * 1
